astroid==2.2.5
bleach==3.1.0
boto3==1.9.183
botocore==1.12.183
certifi==2019.6.16
chardet==3.0.4
Click==7.0
DateTime==4.3
Django==2.2.3
djangorestframework==3.9.4
djangorestframework-simplejwt==4.3.0
dnspython==1.16.0
docutils==0.14
elasticsearch==7.0.2
Flask==1.1.0
idna==2.8
IntugineHelper==1.2
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.16.4
ortools==7.1.6720
pandas==0.24.2
pkginfo==1.5.0.1
protobuf==3.8.0
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.3.1
pymongo==3.8.0
python-dateutil==2.8.0
pytz==2019.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
s3transfer==0.2.1
scipy==1.3.0
six==1.12.0
sqlparse==0.3.0
tqdm==4.32.2
twine==1.13.0
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.6.1
webencodings==0.5.1
Werkzeug==0.15.4
wrapt==1.11.2
XlsxWriter==1.1.8
zope.interface==4.6.0
